
body{
  font-family: 'Montserrat', sans-serif;
}

  .boxDiff {
    border: 1px solid rgb(255,255,255,0.5);
    border-radius: 20px;
}

.divider{
    /* background-color: rgb(255,255,255,0.15); */
    border-top: 1px solid rgb(255,255,255,0.5);
}

.wtf {
  border: 1px solid rgb(255,255,255,0.5);
  border-radius: 7.5px;
  background: rgb(0,0,0,0.75);
}